<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="/css/text3.css">
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<title>银豹智能自助点餐机</title>
<script type="text/javascript">
	$(document).ready(function(){
	//初始化宽度、高度
	a = ($(window).height() - $(window).width());
	$(".page").width($(window).height());
	$(".page").height($(window).width());
	$(".page").css("left",-a/2);
	$(".page").css("bottom",a/2);
	})
</script>

<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?7d46a3151782b7a795ffeba367b5387d";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>

<body>

	<video class="ppg_video" x-webkit-airplay="true" data-typ="暂停" webkit-playsinline playsinline="true"  width="100%" preload="auto"  >
		<!-- <video autoplay poster="img/yulan.png"> -->
		<source src="/mp4/automaticOrder.mp4" type="video/mp4">
	</video>

	<div class=" star show bcimg">
		<div class=" page ">
			<h1>银豹智能自助点餐机</h1>
			<a href="tel:400-000-7749">咨询热线 400-000-7749</a>
			<a class="website" href="http://www.pospal.cn/" target="_blank">WWW.POSPAL.CN</a>
		</div>
		<div class="playBtn"></div>
	</div>

	<div class="end unshow" >
		<div class="page">
			<div class="text">
				<h1>银豹智能自助方案</h1>
				<div class="attribute">
					<i></i>
					<span>省时</span>
					<i></i>
					<span>省力</span>
					<i></i>
					<span>快部署</span>
					<i></i>
					<span>高大上</span>
				</div>
				<div class="contact">
				<a href="tel:400-000-7749">400-000-7749</a>
				<a class="website" href="http://www.pospal.cn/" target="_blank">WWW.POSPAL.CN</a>
				</div>
				<div class="btn">
					<span>重播</span>
					<i></i>
				</div>
				<a class="btn" href="tel:400-000-7749">
					<span>咨询</span>
					<i></i>
				</a>
			</div>
		</div>
		<div class="machine"></div>
	</div>
	<script src="/js/text3.js" charset="utf-8"></script>
</body>

</html>
