<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>天气数据可视化</title>
        <!-- 引入 echarts.js -->
        <script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    </head>
    <body >
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:600px;"></div>
    <script src="/js/waether.js"></script>
    <script src="/js/china.js"></script>

    </body>
</html>
